

#intro {
    font-size: 3em;
}

.content {
    background-color: #3DB684
}

.contentlight {
    background-color: #80F0C1
}


/* Styles for navbar */

.brand {
    display: grid;
    font-size: 2em;
    justify-content: center;
}

.nav-container {
    list-style: none;
    display: grid;
    grid-template-columns:15% 1fr 1fr 1fr 1fr 25%;
    justify-content: center;
    grid-gap: 10px;
}

.header-global {
    grid-area: header;
    background-color: #3DB684;
    opacity: .8;
}

.main-global {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px minmax(500px, 1fr) 50px; 
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


.bioClass {
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #256351;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    background-color: #98C7A0;
}

.contactClass {
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #256351;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    background-color: #98C7A0;
}

.blogClass {
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #256351;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    background-color: #98C7A0;
}

.resumeClass {
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #256351;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    background-color: #98C7A0;
}

.indexClass {
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #256351;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    background-color: #98C7A0;
}


/* .buttonStyle {
    background-color: gray;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: .85;
} */

/* .aboutStyle {
    background-color: gray;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: .85;
} */
