
.supply-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.supplyinventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 700px;
    padding: 50px;
}
img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.product-grid {
    border: 10px solid black;
    border-radius: 10%;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.name {
    text-align: center;
    padding-top: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}