
/*Removes the underline from database content*/

ul a:link {
    color: #d1a000;
    text-decoration: none;
    line-height: 80px;
}

/* visited link */
ul a:visited {
    color: #e2ea00;
    text-decoration: none;
    line-height: 80px;
}

/* mouse over link */
ul a:hover {
    color: #09866B;
    text-decoration: none;
    line-height: 80px;
}

/* selected link */
ul a:active {
    color: #05835D;
    text-decoration: none;
    line-height: 80px;
}

/* Styles the container of the nav buttons */
.nav-container {
    list-style: none;
    display: grid;
    grid-template-columns:22% 1fr 1fr 22%;
    grid-gap: 40px;
    padding: 60px;
}

/* Styling for the nav buttons and text*/

.volunteerClass:hover {
    opacity: .5;
}


.blogClass:hover {
    opacity: .5;
}


.resumeClass:hover {
    opacity: .5;
}


.projectsClass:hover {
    opacity: .5;
}

.navbutton {
    display: block;
}
