.projects-container {
    background-color:  #ABC5B9;;
    list-style-type: none;
    position: center;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

.projectstyles {
    color: #707230;
    margin: 0 auto;
}
